In [37]:
import matplotlib.pyplot as plt
import matplotlib as mpl
mpl.rc('font',family='Malgun Gothic')
import seaborn as sns
import pandas as pd
import scipy.stats as stats

In [38]:
df_DL2 = pd.read_csv('../../datasets/DeliveryList2.csv')
df_DL2[:2]

,결제수단,배송번호,배송시작일,배송완료일,상품구매금액,상품번호,수량,주문경로,주문일
0,무통장입금,D-20181227-0000648-00,2019-01-07 오전 8:56,2019-01-11 오전 5:32,71450,1077.0,1,PC쇼핑몰,20181227
1,무통장입금,D-20181229-0000119-00,2019-01-03 오전 9:30,2019-01-07 오전 5:32,141240,42.0,2,모바일웹,20181229

In [39]:
df_DL2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46749 entries, 0 to 46748
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   결제수단    46749 non-null  object
 1   배송번호    46749 non-null  object
 2   배송시작일   46749 non-null  object
 3   배송완료일   46749 non-null  object
 4   상품구매금액  46749 non-null  int64
 5   상품번호    46661 non-null  float64
 6   수량      46749 non-null  int64
 7   주문경로    46749 non-null  object
 8   주문일     46749 non-null  int64
dtypes: float64(1), int64(3), object(5)
memory usage: 3.2+ MB

In [40]:
df_DL2.describe(datetime_is_numeric=True)

             상품구매금액          상품번호            수량           주문일
count  4.674900e+04  46661.000000  46749.000000  4.674900e+04
mean   6.936814e+04    763.193073      1.177822  2.018404e+07
std    6.611247e+04    456.323734      0.683334  5.192403e+03
min    0.000000e+00     38.000000      1.000000  2.017010e+07
25%    3.288000e+04    378.000000      1.000000  2.018073e+07
50%    6.778000e+04    928.000000      1.000000  2.018112e+07
75%    9.213000e+04   1209.000000      1.000000  2.019022e+07
max    4.963400e+06   1681.000000     50.000000  2.019062e+07

In [26]:
df_RC['날짜_datetime'] = pd.to_datetime(df_RC['입원일자'] - df_RC['퇴원일자'])

In [27]:
df_RC.describe(include=datatime)

NameError: name 'datatime' is not defined

In [28]:
df_RC[:2]

,Unnamed: 0,환자ID,Large Lymphocyte,Location of herniation,ODI,가족력,간질성폐질환,고혈압여부,과거수술횟수,당뇨여부,...,Seg Angle(raw),Vaccum disc,골밀도,디스크단면적,디스크위치,척추이동척도,척추전방위증,날짜_datetime,날짜_datetime_month,날짜_datetime_day
0,0,1PT,22.8,3,51.0,0.0,0,0,0,0,...,14.4,0,-1.01,2048.5,4,Down,0,1969-12-31 23:59:59.999999997,1,1
1,1,2PT,44.9,4,26.0,0.0,0,0,0,0,...,17.8,0,-1.14,1753.1,4,Up,0,1969-12-31 23:59:59.999999999,1,1

In [29]:
df_RC['날짜_datetime_month'] = df_RC['날짜_datetime'].dt.month

In [30]:
df_RC

,Unnamed: 0,환자ID,Large Lymphocyte,Location of herniation,ODI,가족력,간질성폐질환,고혈압여부,과거수술횟수,당뇨여부,...,Seg Angle(raw),Vaccum disc,골밀도,디스크단면적,디스크위치,척추이동척도,척추전방위증,날짜_datetime,날짜_datetime_month,날짜_datetime_day
0,0,1PT,22.8,3,51.0,0.0,0,0,0,0,...,14.4,0,-1.01,2048.50,4,Down,0,1969-12-31 23:59:59.999999997,12,1
1,1,2PT,44.9,4,26.0,0.0,0,0,0,0,...,17.8,0,-1.14,1753.10,4,Up,0,1969-12-31 23:59:59.999999999,12,1
2,2,3PT,53.0,3,NaN,0.0,0,0,1,0,...,10.2,0,-1.77,1749.00,4,Down,0,1969-12-31 23:59:59.999999928,12,1
3,3,4PT,54.7,4,18.0,0.0,0,1,0,0,...,19.9,0,-1.58,1796.20,4,Down,0,1969-12-31 23:59:59.999999928,12,1
4,4,5PT,53.8,4,NaN,0.0,0,1,0,0,...,5.2,0,-0.79,2021.48,4,Up,0,1969-12-31 23:59:59.999999996,12,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1889,1889,1890PT,44.0,1,NaN,0.0,0,0,0,0,...,21.8,0,NaN,2652.20,5,Middle,0,1969-12-31 23:59:59.999999999,12,1
1890,1890,1891PT,30.8,2,NaN,0.0,0,0,0,0,...,5.0,0,NaN,1795.80,4,Down,0,1969-12-31 23:59:59.999999997,12,1
1891,1891,1892PT,36.7,3,NaN,0.0,0,0,0,0,...,17.4,1,NaN,2624.40,4,Down,0,1969-12-31 23:59:59.999999998,12,1
1892,1892,1893PT,32.5,2,NaN,0.0,0,0,0,0,...,17.7,0,NaN,1972.50,5,Down,0,1969-12-31 23:59:59.999999997,12,1
1893,1893,1894PT,49.5,2,NaN,0.0,0,0,0,0,...,27.8,0,NaN,1574.40,5,Middle,0,1969-12-31 23:59:59.999999999,12,1

In [31]:
df_RC['날짜_datetime_day'] = df_RC['날짜_datetime'].dt.day

In [32]:
df_RC

,Unnamed: 0,환자ID,Large Lymphocyte,Location of herniation,ODI,가족력,간질성폐질환,고혈압여부,과거수술횟수,당뇨여부,...,Seg Angle(raw),Vaccum disc,골밀도,디스크단면적,디스크위치,척추이동척도,척추전방위증,날짜_datetime,날짜_datetime_month,날짜_datetime_day
0,0,1PT,22.8,3,51.0,0.0,0,0,0,0,...,14.4,0,-1.01,2048.50,4,Down,0,1969-12-31 23:59:59.999999997,12,31
1,1,2PT,44.9,4,26.0,0.0,0,0,0,0,...,17.8,0,-1.14,1753.10,4,Up,0,1969-12-31 23:59:59.999999999,12,31
2,2,3PT,53.0,3,NaN,0.0,0,0,1,0,...,10.2,0,-1.77,1749.00,4,Down,0,1969-12-31 23:59:59.999999928,12,31
3,3,4PT,54.7,4,18.0,0.0,0,1,0,0,...,19.9,0,-1.58,1796.20,4,Down,0,1969-12-31 23:59:59.999999928,12,31
4,4,5PT,53.8,4,NaN,0.0,0,1,0,0,...,5.2,0,-0.79,2021.48,4,Up,0,1969-12-31 23:59:59.999999996,12,31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1889,1889,1890PT,44.0,1,NaN,0.0,0,0,0,0,...,21.8,0,NaN,2652.20,5,Middle,0,1969-12-31 23:59:59.999999999,12,31
1890,1890,1891PT,30.8,2,NaN,0.0,0,0,0,0,...,5.0,0,NaN,1795.80,4,Down,0,1969-12-31 23:59:59.999999997,12,31
1891,1891,1892PT,36.7,3,NaN,0.0,0,0,0,0,...,17.4,1,NaN,2624.40,4,Down,0,1969-12-31 23:59:59.999999998,12,31
1892,1892,1893PT,32.5,2,NaN,0.0,0,0,0,0,...,17.7,0,NaN,1972.50,5,Down,0,1969-12-31 23:59:59.999999997,12,31
1893,1893,1894PT,49.5,2,NaN,0.0,0,0,0,0,...,27.8,0,NaN,1574.40,5,Middle,0,1969-12-31 23:59:59.999999999,12,31